<!-- <h1 id="titulo"> Editando funcionario 
  <button type="button" class="btn btn-print btn-outline btn-circle" id="btn1">
      <span class="glyphicon glyphicon-plus" id="gbtn1"></span>
  </button>
</h1> -->

<%= simple_form_for @funcionario, validate: true do |f| %>
<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.input :nombre, :input_html => {class: "form-control"} %>
      <%= f.input :apellido, :input_html => {class: "form-control"}  %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="field">
      <%= f.input :cargo, :input_html => {class: "form-control"} %>
      <%= f.input :departamento_id, :collection => Departamento.all(:order => 'interno'), :label_method => :name_with_initial, :prompt => "Elige un departamento", :input_html => {class: "form-control"} %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="field">
      <%= f.input :correo, :input_html => {class: "form-control"} %>
      <%= f.input :cumpleanio, as: :date, start_year: Time.now.year , end_year: Time.now.year - 70, order: [:day, :month, :year] %>
    </div>
  </div>
</div>
  </br>
  <div class="col-md-offset-9">
    <div class="actions" style="margin-left: 65px;">
      <% if controller.action_name == 'new' or controller.action_name == 'index' %>
        <%= f.submit "Agregar", :class => 'mui-btn mui-btn-primary mui-btn-raised'%>
      <% elsif controller.action_name == 'edit' %>
        <%= f.submit "Actualizar", :class => 'mui-btn mui-btn-primary mui-btn-raised'%>
      <% end %>
      <%= button_tag "Cancelar", type: :reset ,id: 'btn_cancelar', :class => 'mui-btn mui-btn-raised mui-btn-default'%>
    </div>
  </div>
<% end %>