<%= simple_form_for @funcionario, :validate => true do |f| %>
<div class="row">
	<div class="col-md-4">
		<div class="field">
			<%= f.input :nombre, :input_html => {class: "form-control"} %>
			<%= f.input :apellido, :input_html => {class: "form-control"}  %>
		</div>
	</div>
	<div class="col-md-4">
		<div class="field">
			<%= f.input :cargo, :input_html => {class: "form-control"} %>
			<label for="departamento_id">Departamento
				<%= link_to new_departamento_path , remote: true ,  "data-toggle" => "modal", class: 'btn btn-info btn-outline btn-circle' do %>
				<span class="glyphicon glyphicon-plus"></span>
				<% end %>
			</label>
			<%= f.input :departamento_id, :collection => Departamento.all(:order => 'interno'), :label_method => :name_with_initial, :prompt => "Elige un departamento", label: false ,:input_html => {class: "form-control"} %>
		</div>
	</div>
	<div class="col-md-4">
		<div class="field">
			<%= f.input :correo, :input_html => {class: "form-control"} %>
			<%= f.input :cumpleanio, as: :date, start_year: Time.now.year , end_year: Time.now.year - 70, order: [:day, :month, :year] %>
		</div>
	</div>
</div>
</br>
<div class="col-md-offset-9">
	<div class="actions" id="botones_formulario" >
		<% if controller.action_name == 'new' or controller.action_name == 'index' %>
			<%= f.submit "Agregar", :class => 'mui-btn mui-btn-primary mui-btn-raised'%>
		<% elsif controller.action_name == 'edit' %>
			<%= f.submit "Actualizar", :class => 'mui-btn mui-btn-primary mui-btn-raised'%>
		<% end %>
		<%= button_tag "Cancelar", type: :reset , id: 'btn_cancelar', :class => 'mui-btn mui-btn-raised mui-btn-default'%>
	</div>
</div>
<% end %>
<div id="modal_departamento"></div>